<form>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Branch Name</mat-label>
        <input matInput placeholder="Branch Name"  name="branchName"[(ngModel)]="formObject.branchName">
        
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Address</mat-label>
        <input matInput placeholder="Address"  name="address"[(ngModel)]="formObject.address">
        
      </mat-form-field>
    </p>
    
  </form>
  {{formObject | json}}
  <button (click)="save()">save</button>
  
  <button [mat-dialog-close]>close</button>
  