<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container *ngFor="let column of displayedColumns;let i= index;" [matColumnDef]="column">
    <th mat-header-cell *matHeaderCellDef> {{column.toUpperCase()}} </th>
    <td mat-cell *matCellDef="let element;let j = index">
      <ng-container *ngIf="column.toLowerCase() == 'action'">
        <button mat-icon-button color="primary" (click)="edit(element)" class="action-button">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" class="action-button">
          <mat-icon>delete</mat-icon>
        </button>
      </ng-container>
      {{element[column]}}
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns; let k = index" (click)="selectedRowDetail(row,k)"
    [class.selected]="selectedIndex === k"></tr>
</table>