
table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
  }
  

  thead th {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
  }
  

  tbody td {
    border: 1px solid #ddd;
    padding: 12px;
  }
  

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  

  .delete:hover{
    color: rgb(0, 255, 255);
  }
  

  mat-icon {
    vertical-align: middle;
  }
  
  .mat-row.selected {
    background-color: lightblue;
  }