<table class="table" border="1">
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Product Description</th>
        <th>Product Price</th>
        <th>Department Id</th>
        <th>Inventory Id</th>
        <th>Expiry Date</th>
        <th>Action</th>
  
        <!-- Added action column -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of productList">
        <td>{{ item.productName }}</td>
        <td>{{ item.productDescription }}</td>
        <td>{{ item.productPrice }}</td>
        <td>{{item.departmentName}}</td>
        <td>{{item.inventoryId}}</td>
        <td>{{item.expiryDate}}</td>
        <td>
  
  
          <button (click)="edit(item)"><mat-icon>edit</mat-icon></button>
  
  
          <button mat-icon-button color="primary" (click)="delete(item)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table> 
  
  <button (click)="add()"><mat-icon> add</mat-icon></button>