.form-group {
    margin-bottom: 20px;
  
    mat-form-field {
      width: 100%;
    }
  }
  
  .form-actions {
    display: flex;
    justify-content: flex-end;
  
    button {
      margin-left: 10px;
    }
  }
  